{% extends 'base.html' %}
{% block title %} Trains list {% endblock %}

{% block content %}

 <h1>Cities List</h1>
<div class="row">
    <div class="col-md-8 mx-auto my-4">
        <table class="table table-striped">
            <tr>
              <th scope="col">Number</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Time on road</th>
                <th scope="col">&nbsp</th>
              <th scope="col">&nbsp</th>
            </tr>
           {% for object in page_obj %}
                <p>
                    <tr>
                        <td>
                            <a href="{% url 'trains:detail' pk=object.pk%}">{{object.name}}</a>

                        </td>
                        <td>{{ object.from_city }}</td>
                        <td>{{ object.to_city }}</td>
                        <td>{{ object.travel_time}}</td>
                        <td> <a href="{% url 'trains:update' pk=object.pk%}"><button type="submit" class="btn btn-primary">Edit</button></a></td>
                        <td><a href="{% url 'trains:delete' pk=object.pk%}"><button type="submit" class="btn btn-danger">Delete</button></a></td>


                    </tr>
                </p>
            {% endfor %}
        </table>
    </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
        {% if page_obj.has_previous %}
            {% if page_obj.number|add:'-1' > 1 %}
                 <a a class="page-link" href="?page={{ page_obj.previous_page_number }} " aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
                </a>
            {% endif %}
        {% endif %}
    </li>


       {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
                 <li class="page-item active">
                    <span class="page-link">{{ page }}<span class="sr-only"></span></span>
                 </li>
            {% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2       ' %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}

<!--                    <li class="page-item {% if page == page_obj.number %} active {% endif %}" >-->
<!--                        <a class="page-link" href="?page={{page}}">-->
<!--                            {{page}}-->
<!--                        </a>-->
<!--                    </li>-->
       {% endfor %}


    <li class="page-item">
         {% if page_obj.has_next %}
            {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
            <a  class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"> &raquo;</a>
                <span aria-hidden="true"></span>
            {% endif %}
        {% endif %}
    </li>
  </ul>
</nav>


{% endblock %}